* {
  margin: 0px;
  padding: 0px;
}

.nav1:hover {
  background-color: #470a68 !important;
  cursor: pointer;
}

option{
  background-color: #ffffff!important;
  padding: 50px!important;
}

.topnavbar li {
  display: inline;
}

.topnavbar {
  position: fixed;
  z-index: 11;
  margin-left: -70px;
  margin-top: -16px;
}

.Nav2 {

  width: 1210px;
  height: 110px;
  background: rgba(183, 193, 211, 0.23);
  /* background-color: #fff; */
  padding-top: 10px;
  /* display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px; */
}

/* .Nav2::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
} */
/* .topnavbar ul button{
background-color: #470A68 !important;
} */

.sidebtn {
  float: right;

}


.sidebtn button {
  width: 200px !important;
  height: 80px !important;
  margin-top: 20px !important;
}


body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #b0bec5;
  background-repeat: no-repeat;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#495057!important;
  opacity: 1; /* Firefox */
}



.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #483698;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #483698;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.lower-nav>li {
  height: 45px !important;
  width: 140px;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.card0 {
  box-shadow: 0px 4px 8px 0px #757575;
  border-radius: 0px;
}

.btn-inactive {
  background-color: #B7C1D3 !important;
  border-radius: 20px;
  color: #00338d !important;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 50px;
  width: 135px !important;
  font-size: 13px !important;
}



.recc {
  margin-left: 84% !important;
  margin-top: -96px;
  padding: 1.5% !important;
  background-color: #ccc7e3;
  border-top-left-radius: 31px !important;
  border-bottom-left-radius: 31px !important;
}

.signup_btn {
  border-radius: 60px !important;
  background-color: #470a68 !important;
  color: #fff !important;
  margin-left: -30px !important;
  padding: 4px !important;
  width: 180px !important;
  font-weight: bold !important;
  margin-top: 18px !important;
}

.input_end_date {
  border-radius: 60px !important;
  background-color: #B7C1D3 !important;
  /* width: 290px !important; */
  width: 34% !important;
  margin-top: -68px !important;
  margin-left: 185px !important;
  height: 45px !important;
}

.input_start_date {
  border-radius: 60px !important;
  background-color: #B7C1D3 !important;
  /* width: 290px !important; */
  width: 34% !important;
  margin-top: 26px !important;
  margin-left: -45px !important;
  height: 45px !important;
}

.input_subprocess {
  border-radius: 60px !important;
  background-color: #B7C1D3 !important;
  /* width: 290px !important; */
  width: 34% !important;
  margin-top: -48px !important;
  margin-left: 421px !important;
  height: 45px !important;
}

.input_process {
  border-radius: 60px !important;
  background-color: #B7C1D3 !important;
  width: 34% !important;
  /* width: 290px !important; */
  margin-top: 20px !important;
  margin-left: -45px !important;
  height: 45px !important;
}

.input_categorization {
  border-radius: 60px !important;
  background-color: #B7C1D3 !important;
  width: 34% !important;
  /* width: 290px !important; */
  margin-top: -47px !important;
  margin-left: 185px !important;
  height: 45px !important;
}


.input_audit_background {
  border-radius: 60px !important;
  background-color: #B7C1D3 !important;
  /* width: 600px !important; */
  width: 70% !important;
  margin-top: 26px !important;
  margin-left: -45px !important;
  height: 45px !important;
}

.input_name_of_client {
  border-radius: 60px !important;
  background-color: #B7C1D3 !important;
  width: 34%!important;
  margin-top: 38px !important;
  margin-left: -45px !important;
  height: 45px !important;
}

.input_engagement_name {
  border-radius: 60px !important;
  background-color: #B7C1D3 !important;
  width: 34%!important;
  margin-top: -54px !important;
  margin-left: 185px !important;
  height: 45px !important;
}

.card2 {
  margin: 0px 40px;
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px;
}

.image {
  width: 500px;
  height: 437px;
  margin-left: 21px;
  padding-top: 54px;
}

.border-line {
  border-right: 2px double #000000;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

input,
textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304ffe;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: #1a237e;
  width: 150px;
  color: #fff;
  border-radius: 2px;
}

.btn-blue:hover {
  background-color: #000;
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #1a237e;
}

@media screen and (max-width: 982px) {
  .logo {
    margin-left: 0px;
  }

  .image {
    width: 600px;
    height: 437px;
    margin-left: 21px;
    padding-top: 54px;
  }

  .border-line {
    border-right: none;
  }

  .card2 {
    border-top: 1px solid #eeeeee !important;
    margin: 0px 15px;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  transition: background-color 1s;
}

.main-drop {
  margin-top: 10px;
  margin-left: -29px;
}

.rect {
  width: 100%;
  height: 100vh;
}

.main-drop .user-img img {
  border-radius: 50%;
  width: 50px !important;
}

.down {
  margin-top: 115% !important;
}

.btn-links {
  background-color: #ffffff;
  border-radius: 20px;
  color: #00338d !important;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 50px;
  width: 135px !important;
  font-size: 13px !important;
}


body {
  background-color: #ffffff;
}

.page-title {
  font-weight: bold !important;
  font-size: 42px !important;
  margin-bottom: 4px;
}

.page-wrapper>.content {
  padding: 0px;
  padding-top: 0px;
  margin-left: 10px;
}

.navbar {
  /* margin-top: 6px;?*/
  margin-left: 230px;
  margin-top: 39px;
}

.upper-nav {
  margin-top: -34px !important;
  margin-left: -68px;
  margin-bottom: 100px;
}

.lower-nav {
  margin-top: 12px !important;
  margin-left: -70px !important;
}

.nav1 {
  background-color: #b7c1d3;
  color: #00338D;
  border-radius: 30px;
  margin-right: 12px;
  padding: 10px;
  padding-left: 14px !important;
  margin-left: 44px;
  width: 141px;
  border: none;
}

.nav-2 {
  border-bottom: 2px solid #483698;
  color: #483698 !important;
  margin-right: 2px;
  padding-bottom: 0px;
  margin-left: 48px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer !important;
}

.nav-linkk {
  margin-left: 2px !important;
  border-right: 1px solid #b7c1d3;
}

.nav-1 {
  background-color: #470a68;
  border-radius: 30px;
  margin-right: 12px;
  padding: 10px;
  margin-left: 44px;
  color: #ffffff;
  border: none;
}

.nav-1:hover {
  background-color: #b7c1d3;
  cursor: pointer;
}

.nav1:hover {
  background-color: #470a68;
  cursor: pointer;
  color:#fff;
}

.content {
  margin-top: -50px;
}

.hrr {
  width: 88% !important;
  margin-left: 10% !important;
  margin-top: -1rem !important;
  border-top: 4px solid #00338d !important;
  color: #00338d !important;
  background-color: #00338d !important;
}

.nav2 {
  color: #00338d !important;
  text-decoration: double !important;
  margin-right: 2px;
  padding-bottom: 0px;
  margin-left: 48px;
  margin-top: 15px;
  cursor: pointer;
}


.boxx-shadow {
  text-shadow: 2px 2px 4px #919090;
}

.boxx-shadow2 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-1 {
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  padding: 57px 100px !important;
  margin-top: -60px;
  margin-left: -70px !important;
  background-color: #e5e5e5;
}

a {
  color: #ffffff !important;
}

.card {
  /* box-shadow: 2px 2px 5px rgb(0, 0, 0); */
  /* border-radius: 30px; */
  /* background: #000000; */
  color: white !important;
  height: 213px !important;
}

.sidebar {
  top: 0px !important;
}

.user-img {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  margin-right: 20px;
}

.section {
  margin-top: -50px;
  margin-left: 14px;
  font-size: 10px !important;
}

@media screen and (max-width: 1324px) {
  .recc {
    margin-left: 13%;
    padding: 2.5%;
    background-color: #ccc7e3;
    border-radius: 31px;
  }
}

@media screen and (max-width: 1300px) {
  .recc {
    margin-left: 13%;
    padding: 2.5%;
    background-color: #ccc7e3;
    border-radius: 31px;
  }
}

@media screen and (max-width: 1280px) {
  .recc {
    margin-left: 4%;
    padding: 2.5%;
    background-color: #ccc7e3;
    border-radius: 31px;
  }

  .input_end_date {
    border-radius: 60px !important;
    background-color: #e5e5e5 !important;
    width: 200px !important;
    margin-top: -65px !important;
    margin-left: 285px !important;
    height: 45px !important;
  }

  .input_start_date {
    border-radius: 60px !important;
    background-color: #e5e5e5 !important;
    width: 200px !important;
    margin-top: 26px !important;
    margin-left: -37px !important;
    height: 45px !important;
  }

  .input_subprocess {
    border-radius: 60px !important;
    background-color: #e5e5e5 !important;
    width: 200px !important;
    margin-top: -48px !important;
    margin-left: 225px !important;
    height: 45px !important;
  }

  .input_process {
    border-radius: 60px !important;
    background-color: #e5e5e5 !important;
    width: 200px !important;
    margin-top: 20px !important;
    margin-left: -37px !important;
    height: 45px !important;
  }

  .input_audit_background {
    border-radius: 60px !important;
    background-color: #e5e5e5 !important;
    width: 450px !important;
    margin-top: 26px !important;
    margin-left: -37px !important;
    height: 45px !important;
  }

  .input_name_of_client {
    border-radius: 60px !important;
    background-color: #e5e5e5 !important;
    width: 34%!important;
    margin-top: 38px !important;
    margin-left: -37px !important;
    height: 45px !important;
  }

  .input_engagement_name {
    border-radius: 60px !important;
    background-color: #e5e5e5 !important;
    width: 34%!important;
    margin-top: -54px !important;
    margin-left: 285px !important;
    height: 45px !important;
  }
}

@media screen and (max-width: 1254px) {
  .container-1 {
    margin-right: 10% !important;
    /* margin-left: 300px; */
    margin-left: -90px;
  }
}